/* GENERAL */
html,
body {
  overflow: hidden;
}

/* TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS */
@font-face {
  font-family: "Whitney";
  src: url("/assets/fonts/whitney/whitney-normal.woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Whitney";
  src: url("/assets/fonts/whitney/whitney-light.woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "ABC Ginto Normal";
  src: url("/assets/fonts/ginto/abc-ginto-normal.woff2");
  font-display: swap;
}

@font-face {
  font-family: "ABC Ginto Normal";
  src: url("/assets/fonts/ginto/abc-ginto-italic.woff2");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ABC Ginto Nord";
  src: url("/assets/fonts/ginto/abc-ginto-nord.woff");
  font-display: swap;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
  margin: 16px;
}

::-webkit-scrollbar-track {
  background: #2e3338;
  margin: 4px;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb {
  background: #202225;
  border-radius: 999px;
}

/* CUSTOM CLASSES */
@layer base {
  .credential-form {
    @apply bg-discord-gray-300 p-8 sm:rounded sm:shadow-lg w-full sm:w-[30em] h-full sm:h-auto;
  }
}
